.container {
    background-color: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 80px;
    padding: 7rem 2rem;
  }
  
  .container h3 {
    font-size: 24px;
    text-align: center;
    margin-top: 5rem;
  }
  
  .btn {
    padding: 18px 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: var(--size-1);
    color: var(--color-white);
    cursor: pointer;
    background-color: var(--color-primary);
    text-align: center;
    margin: 3rem auto;
    font-weight: bold;
  }
  
  @media screen and (max-width: 1200px) {
    .btn {
      font-size: 1rem;
    }
  }
  